USE [master]
GO
/****** Object:  Database [CasaDoCodigo.Catalogo]    Script Date: 25/02/2020 21:04:08 ******/
CREATE DATABASE [CasaDoCodigo.Catalogo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CasaDoCodigo.Catalogo', FILENAME = N'C:\Users\marce\CasaDoCodigo.Catalogo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CasaDoCodigo.Catalogo_log', FILENAME = N'C:\Users\marce\CasaDoCodigo.Catalogo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CasaDoCodigo.Catalogo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CasaDoCodigo.Catalogo]
GO
USE [CasaDoCodigo.Catalogo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 25/02/2020 21:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 25/02/2020 21:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Preco] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Produto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/02/2020 21:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nome]) VALUES (1, N'Livros de Programação / Lógica')
INSERT [dbo].[Categoria] ([Id], [Nome]) VALUES (2, N'Livros de Programação / Java')
INSERT [dbo].[Categoria] ([Id], [Nome]) VALUES (3, N'Livros de Programação / .NET')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Produto] ON 

INSERT [dbo].[Produto] ([Id], [CategoriaId], [Codigo], [Nome], [Preco]) VALUES (1, 1, N'001', N'Lógica de Programação: Crie seus primeiros programas usando Javascript e HTML', CAST(49.90 AS Decimal(18, 2)))
INSERT [dbo].[Produto] ([Id], [CategoriaId], [Codigo], [Nome], [Preco]) VALUES (2, 1, N'002', N'Introdução à Computação: Da Lógica aos jogos com Ruby', CAST(49.90 AS Decimal(18, 2)))
INSERT [dbo].[Produto] ([Id], [CategoriaId], [Codigo], [Nome], [Preco]) VALUES (3, 1, N'003', N'Scratch: Um jeito divertido de aprender programação', CAST(49.90 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Produto] OFF
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190816164225_AreaCatalogo', N'3.1.2')
/****** Object:  Index [IX_Produto_CategoriaId]    Script Date: 25/02/2020 21:04:08 ******/
CREATE NONCLUSTERED INDEX [IX_Produto_CategoriaId] ON [dbo].[Produto]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FK_Produto_Categoria_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FK_Produto_Categoria_CategoriaId]
GO
USE [master]
GO
